
.box-container{
  max-width: 700px;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: space-between;
}

.main{
  background: #762dbb;
  padding: 5% 0;
}

.box{
  background: #f1f1f1;
  padding: 10px 25px;
  width: 42%;
  border-radius: 8px;
}
h2.heading{
  margin: 16px 0;
  color: #3c3c3c;
  font-size: 17px;
}
.box ul{
  list-style: none;
    padding: 0;
}
.box ul li{
  margin-bottom: 13px;
  cursor: pointer;
}
.box .selected-item ul li{
  cursor: auto;
}
.box ul li span.remove{
  cursor: pointer;
  font-weight: 600;
}
.box ul li input{
  margin: 0;
    margin-right: 10px;
}

.selected-item .remove{
  font-family: sans-serif;
  cursor: pointer;
}
/* Seleted Item */
.selected-item h2.heading{
  margin-bottom: 12px;
}
.selected-item ul{
  margin-top: 0;
}
.selected-item ul li{
  background: #d1cfcf9e;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.no-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: #a093ad;
}